<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5b788c8dd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="~/css/profile.css">
    <script src="~/js/profilepage.js"></script>
</head>
<body>
    @{
        Html.RenderPartial("Navbar");
    }
    <div class="container">
        <div class="left-section">
            <!-- Tartalom a bal oldalon -->
            @{
                Html.RenderPartial("LeftPanel");
            }
        </div>

        <div class="middle-section">           
            <div class="profile-card text-center">
                <img src="@ViewBag.BannerURL" class="banner" alt="Banner kép">


                @{

                    if (ViewBag.Self)
                    {
                        <div class="settings">
                            <i class="fa-solid fa-gear" id="settings-button"></i>
                        </div>

                        <div id="settings-modal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <form id="settings-form">
                                    <label class="modal-label" for="display-name">Display Name:</label>
                                    <input type="text" id="display-name" name="display-name" value="@ViewBag.DisplayName">

                                    <label class="modal-label" for="bio">Bio:</label>
                                    <textarea id="bio" name="bio" rows="4" cols="50" value="@ViewBag.Bio">@ViewBag.Bio</textarea>

                                    <label class="modal-label" for="pronouns">Pronouns:</label>
                                    <input type="text" id="pronouns" name="pronouns" value="@ViewBag.Pronouns">

                                    <label class="modal-label" for="location">Location:</label>
                                    <input type="text" id="location" name="location" value="@ViewBag.Location">

                                    <label class="modal-label" for="date-of-birth">Date of Birth:</label>
                                    <input type="date" id="date-of-birth" name="date-of-birth" value="@ViewBag.DateOfBirth">

                                    <label class="modal-label" for="profile-picture">Profile Picture:</label>
                                    <input type="file" id="profile-picture" name="profile-picture" value="@ViewBag.AvatarURL">

                                    <label class="modal-label" for="banner">Banner:</label>
                                    <input type="file" id="banner" name="banner" value="@ViewBag.BannerURL">

                                    <button class="modal-button-close" onclick="event.preventDefault(); document.getElementById('settings-modal').style.display = 'none';">Close</button>
                                    <button class="modal-button" onclick="event.preventDefault(); sendSaveProfileRequest('@ViewBag.SessionID'); window.location.href = window.location.href;">Save</button>
                                </form>
                            </div>
                        </div>
                    }


                }

                <div class="card-body profiledata">
                    <img src="@ViewBag.AvatarURL" alt="Profilkép" class="rounded-circle img-fluid mb-3 profile-picture">

                    @{

                        if(!ViewBag.Self)
                        {
                            if(ViewBag.IsFollowing)
                            {
                                <button type="button" id="follow" onclick="unfollow('@ViewBag.SessionID', '@ViewBag.TargetUsername');" class="btn btn-primary followed-button shadow-none"><i class="fa-solid fa-check tickbutton" id="icon"></i></button>

                            } else
                            {
                                <button type="button" id="follow" onclick="follow('@ViewBag.SessionID', '@ViewBag.TargetUsername');" class="btn btn-primary follow-button shadow-none"><i class="fa-solid fa-plus plusbutton" id="icon"></i></button>
                            }
                            
                        }


                     }

                    <h1 class="card-title name">@ViewBag.DisplayName</h1>
                    <p class="card-text pronouns badge text-bg-secondary">@ViewBag.Pronouns</p>
                    <p class="card-text username"><i class="fa-solid fa-at"></i> @ViewBag.Username</p>
                    <p class="card-text bio">@ViewBag.Bio</p>
                    <div class="d-flex justify-content-around stats">
                        <div>
                            <span id="follower-count" class="number">@ViewBag.Followers</span>
                            <a href="#followModal"><span class="label" id="followers-label">Followers</span></a>
                        </div>
                        <div>
                            <span class="number">@ViewBag.Following</span>
                            <a href="#followModal"><span class="label" id="following-label">Following</span></a>
                        </div>
                    </div>

                    <!-- Follower and Following Modal Structure -->
                    <div id="followModal" class="follow-modal">
                        <div class="follow-modal-content">
                            <span class="close">&times;</span>
                            <div id="modalContent"></div>
                        </div>
                    </div>



                    <div class="profile-divider"></div>
                    <div class="profile-button">
                        <button id="posts" onclick="posts();" type="button" class="btn btn-outline-primary profile-card-button shadow-none active">Posts</button>
                        <button id="liked" onclick="liked();" type="button" class="btn btn-outline-primary profile-card-button shadow-none">Liked</button>
                        <button id="tagged" onclick="tagged();" type="button" class="btn btn-outline-primary profile-card-button shadow-none">Tagged</button>
                    </div>
                </div>
            </div>

            <div class="card post">
                <div class="card-header text-center">
                    <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 1" class="user-post"> <i class="fa-solid fa-at"></i> User </p>
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary text-center">
                    <i class="fa-regular fa-heart postreaction" id="hjhchm" onclick="like('hjhchm');"></i>
                    <i class="fa-solid fa-comment postreaction"></i>
                    <i class="fa-solid fa-share postreaction"></i>
                </div>
            </div>

            <div class="card post">
                <div class="card-header text-center">
                    <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 1" class="user-post"> <i class="fa-solid fa-at"></i> User </p>
                </div>
                <div class="card-body">
                    <img src="https://download.cdn-shop.com/media/web_images/uk/my-picture/structured-data/framed-picture-4x3.jpg" class="post-img" />
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary text-center">
                    <i class="fa-regular fa-heart postreaction" id="dgssdg" onclick="like('dgssdg');"></i>
                    <i class="fa-solid fa-comment postreaction"></i>
                    <i class="fa-solid fa-share postreaction"></i>
                </div>
            </div>

            <div class="card post">
                <div class="card-header text-center">
                    <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 1" class="user-post"> <i class="fa-solid fa-at"></i> User </p>
                </div>
                <div class="card-body">
                    <img src="https://download.cdn-shop.com/media/web_images/uk/my-picture/structured-data/framed-picture-4x3.jpg" class="post-img" />
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary text-center">
                    <i class="fa-regular fa-heart postreaction" id="dgssdg" onclick="like('dgssdg');"></i>
                    <i class="fa-solid fa-comment postreaction"></i>
                    <i class="fa-solid fa-share postreaction"></i>
                </div>
            </div>
        </div>
        <div class="right-section">
            <!-- Tartalom a jobb oldalon -->
            @{
                Html.RenderPartial("RightPanel");
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
