<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5b788c8dd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/profile.css">
</head>
<body>
    @{
        Html.RenderPartial("Navbar");
    }
    <div class="container">
        <div class="left-section">
            <!-- Tartalom a bal oldalon -->
            @{
                Html.RenderPartial("LeftPanel");
            }
        </div>

        <div class="separator"></div>

        <div class="middle-section">           
            <div class="profile-card text-center">
                <img src="@ViewBag.BannerURL" class="banner" alt="Banner kép">
                             
                <div class="settings">
                    <i class="fa-solid fa-gear"></i>
                </div>

                <div class="card-body profiledata">
                    <img src="@ViewBag.AvatarURL" alt="Profilkép" class="rounded-circle img-fluid mb-3 profile-picture">

                    <button type="button" class="btn btn-primary followed-button"><i class="fa-solid fa-check tickbutton"></i></button>

                    <h1 class="card-title name">@ViewBag.DisplayName</h1>
                    <p class="card-text pronouns badge text-bg-secondary">@ViewBag.Pronouns</p>
                    <p class="card-text username"><i class="fa-solid fa-at"></i> @ViewBag.Username</p>
                    <p class="card-text bio">@ViewBag.Bio</p>
                    <div class="d-flex justify-content-around stats">
                        <div>
                            <span class="number">@ViewBag.Followers</span>
                            <span class="label">Követők</span>
                        </div>
                        <div>
                            <span class="number">@ViewBag.Following</span>
                            <span class="label">Követések</span>
                        </div>
                    </div>

                    <div class="profile-divider"></div>
                    <div class="profile-button">
                        <button type="button" class="btn btn-outline-primary active profile-card-button">Posts</button>
                        <button type="button" class="btn btn-outline-primary profile-card-button">Liked</button>
                        <button type="button" class="btn btn-outline-primary profile-card-button">Tagged</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="separator"></div>

        <div class="right-section">
            <!-- Tartalom a jobb oldalon -->
            @{
                Html.RenderPartial("RightPanel");
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
